{% extends 'base.html' %}
{% block content %}
    <div id="content-main">

    <div class="module initialized" id="changelist">
        <div id="toolbar" class="initialized"></div>
        <div class="clear"></div>


        <div class="results" style="margin-bottom: 110px;">
            {% if messages %}
                <ul class="messagelist">
                     {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <table id="result_list">
                <thead>
                    <tr>
                        <th scope="col" class="action-checkbox-column">
                           <div class="text">
                               <span>
                                   <input type="checkbox" id="action-toggle" style="display: inline-block;">
                                   <label for="action-toggle"></label>
                               </span>
                           </div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-mapel">
                           <div class="text"><a href="#">Mata Pelajaran</a></div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-mapel">
                           <div class="text"><a href="#">Kelas</a></div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-mapel">
                           <div class="text"><a href="#">Tahun Ajaran</a></div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-mapel">
                           <div class="text"><a href="#">Status Nilai</a></div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col" class="sortable column-mapel">
                           <div class="text"><a href="#">AKSI</a></div>
                           <div class="clear"></div>
                        </th>
                    </tr>
                </thead>
            <tbody>
            {% for mengajar in jadwal.all %}
                    <tr class="row1">
                        <td class="action-checkbox">
                            <input type="checkbox" name="_selected_action" value="1" class="action-select" id="unique_checkbox_id_0">
                            <label for="unique_checkbox_id_0"></label>
                        </td>
                        <th class="field-mapel nowrap">
                            <a href="{% if mengajar.kkmmapel.id %}/raport/kkmmapel/{{ mengajar.kkmmapel.id }}/#/tab/module_2/{% else %}/raport/kkmmapel/add{% endif %}">{{ mengajar.mapel.nama_mapel }}</a>
                        </th>
                        <td class="field-kelas">{{ mengajar.kelas.nama_kelas }}</td>
                        <td class="field-tahun">{{ mengajar.tahun.tahun }}</td>
                        <td class="field-raport">
                            {% if mengajar.kkmmapel.raport_set.count  %}
                                <img src="/static/admin/img/icon-yes.svg" alt="True">
                                {{ mengajar.kkmmapel.raport_set.count }}
                                Nilai Terisi
                            {% else %}
                                <img src="/static/admin/img/icon-no.svg" alt="False">
                                {% if mengajar.kkmmapel.id %}
                                    Nilai Belum Terisi
                                    {% else %}
                                    KKM Belum terisi
                                {% endif %}
                            {% endif%}
                        </td>
                        <td class="field-aksi">
                            {% if mengajar.kkmmapel.raport_set.count %}
                                <a href="/raport/raport/{{ mengajar.kkmmapel.id }}/detail">tampil</a> |
                                <a href="/raport/raport/{{ mengajar.kkmmapel.id }}/download">download excel</a> |
                                <a href="/raport/raport/{{ mengajar.kkmmapel.id }}/print">print</a>
                                {% else %}
                                <img src="/static/admin/img/icon-alert.svg" alt="False">
                            {% endif %}

                        </td>
                    </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="changelist-footer fixed">
            <div class="label"><b>{{ jadwal.count }}</b> Mata pelajaran</div>
            <div class="cf"></div>
        </div>
    </div>
  </div>
{% endblock %}