{% load i18n static jet_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
{% jet_get_current_theme as THEME %}
{% jet_get_current_version as JET_VERSION %}
{% block html %}<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />

<link rel="stylesheet" type="text/css" href="{% static "jet/css/vendor.css" as url %}{{ url|jet_append_version }}" />
<link rel="stylesheet" type="text/css" href="{% static "jet/css/icons/style.css" as url %}{{ url|jet_append_version }}" />
<link rel="stylesheet" type="text/css" href="{% static "jet/css/themes/"|add:THEME|add:"/base.css" as url %}{{ url|jet_append_version }}" class="base-stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static "jet/css/themes/"|add:THEME|add:"/select2.theme.css" as url %}{{ url|jet_append_version }}" class="select2-stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static "jet/css/themes/"|add:THEME|add:"/jquery-ui.theme.css" as url %}{{ url|jet_append_version }}" class="jquery-ui-stylesheet" />


<script type="text/javascript" charset="utf-8">
    var DATE_FORMAT = "%Y-%m-%d";
    var TIME_FORMAT = "%H:%M:%S";
    var DATETIME_FORMAT = "%Y-%m-%d %H:%M:%S";
</script>
<script type="text/javascript" src="/jet/jsi18n/"></script>
<script src="/static/jet/js/build/bundle.min.js?v=1.0.8"></script>
    <script src="/static/jet/js/i18n/select2/en.js?v=1.0.8"></script>
<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class="menu-pinned login">
<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        <div id="content-main">

        <form action="{% url 'user_login' %}" method="post" id="login-form">
            {%  csrf_token %}
          <div class="form-row">

            <label class="required" for="id_username">Username:</label> <input type="text" name="username" autofocus id="id_username" required>
          </div>
          <div class="form-row">

            <label class="required" for="id_password">Password:</label> <input type="password" name="password" id="id_password" required>
            <input type="hidden" name="next" value="/admin/">
          </div>


          <div class="submit-row">
            <label>&nbsp;</label><input type="submit" value="Log in">
          </div>
        </form>

        </div>
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->
</body>
</html>{% endblock %}